@font-face {
  font-family: Bureausans;
  font-weight: 300;
  font-style: normal;
  src: url("../font/Bureausans_Regular.otf") format("opentype");
}

@font-face {
  font-family: Bureausans;
  font-weight: 600;
  font-style: normal;
  src: url("../font/Bureausans_Bold.otf") format("opentype");
}

@font-face {
  font-family: Bureausans;
  font-weight: 200;
  font-style: normal;
  src: url("../font/Bureausans_Light.otf") format("opentype");
}

@font-face {
  font-family: EBGaramond;
  font-weight: 300;
  font-style: normal;
  src: url("../font/EBGaramond08-Italic.otf") format("opentype");
}

:root {
  /*--full-width: 1000px;*/
  --full-width: 100%;
  --padding: 60px;
  --offset: 20px;

  --font-size-xl: 134px;
  --line-height-xl: 1;

  --font-size-l: 60px;
  --line-height-l: 1;

  --font-size-m: 24px;
  --line-height-m: 32px;

  --font-size-s: 22px;
  --line-height-s: 28px;

  --font-size-xs: 16px;
  --line-height-xs: 17px;

  --dinamic-width: 100vw;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Bureausans, Arial, sans-serif;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 200;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.full-figure img {
  width: 100%;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a:hover {
  color: #b74b4b;
}

.title {
  font-family: EBGaramond, Arial, sans-serif;
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  margin-bottom: 13px;
}

.title_before-full {
  margin-bottom: 4px;
}

.link {
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 300ms ease-out;
}

.link:after {
  content: "";
  position: absolute;
  background: url(../img/link.svg) no-repeat;
  width: 7px;
  height: 15px;
  bottom: 6px;
  right: -11px;
  transition: 300ms ease-out;
}

.link:before {
  content: "";
  position: absolute;
  background: url(../img/link-hovered.svg) no-repeat;
  width: 7px;
  height: 15px;
  bottom: 6px;
  right: -11px;
  transition: 300ms ease-out;
  opacity: 0;
}

.link:hover {
  color: #b74b4b;
  border-bottom-color: #b74b4b !important;
}

.link:hover::after {
  opacity: 0;
}

.link:hover::before {
  opacity: 1;
}

.full-figure__note {
  position: absolute;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-family: Bureausans, Arial, sans-serif;
  font-weight: 600;
}

.full-figure__logo {
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
}

.intro .full-figure__logo {
  right: 6%;
  top: 13%;
  /*transform: translate(-100%, -100%);*/

  /*width: 588px;*/
  /*width: 55vw;*/
  width: 45vw;
}

@media (max-width: 999px) {
  .intro .full-figure__logo {
    width: 450px;
    top: 13%;
    right: 6%;
  }
}

.intro--second .full-figure__logo {
  top: 50%;
  left: 51%;
  transform: translate(-100%, -100%);
  /*width: 500px;*/
  width: 40vw;
}

@media (max-width: 1023px) {
  .intro--second .full-figure__logo {
    width: 400px;
    top: 3%;
    left: 3%;
    transform: translate(0%, 0%);
  }
}

.page {
  min-width: 320px;
  overflow: hidden;
}

@media (max-width: 999px) {
  .page {
    overflow: visible;
  }
}

.container {
  min-width: 1000px;
  width: var(--full-width);
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

@media (max-width: 1024px) {
  .container {
    min-width: auto;
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }

}

.intro {
  position: relative;
  width: 100%;
  padding: 35px 0 40px 0;
}

.intro .full-figure {
  background-color: #fff;
}

.intro .full-figure__img {
  background-color: #edcfbe;
}

.intro__title {
  margin-top: 30px;
  text-align: left;
  font-family: Bureausans, Arial, sans-serif;
  font-weight: bold;
  font-size: 42px;
  /*padding: 0 var(--padding);*/
  /*min-width: 1000px;*/
  /*max-width: 1300px;*/
}

.full-figure__note_intro {
  /*right: 247px;*/
  right: 30%;
  /*top: 406px;*/
  top: 70%;
  width: 90px;
}

.location {
  position: relative;
}

.location__intro {
  position: relative;
  margin-bottom: 140px;
}

.location__title {
  position: relative;
  margin-bottom: -60px;
  text-align: center;
  font-family: Bureausans, Arial, sans-serif;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 300;
  z-index: 1;
}

.location__name {
  position: relative;
}

.location__name::before {
  content: "";
  position: relative;
  right: 12px;
  display: inline-block;
  width: 63px;
  height: 63px;
  background: url("../img/tallinn/tallinn_flag.png");
  background-size: cover;
}

/*figures default*/
.figure {
  position: relative;
}

.figure__caption {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-family: Bureausans, Arial, sans-serif;
  font-weight: 600;
}

.full-figure {
  position: relative;
  background-color: #bfc8d5;
}

.full-figure__sticker {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 45px;
  background-image: url("../img/stickers/sticker1.png");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  z-index: 1;
}

.list-figure {
  position: absolute;
  z-index: 1;
}

/*location tallinn*/
.location_tallinn .location__intro .full-figure__sticker {
  left: 0;
  bottom: 0;
  width: 235px;
  height: 204px;
  transform: translate(-14%, 32%);
}

.location_tallinn .list-figure {
  bottom: 0;
  right: 0;
  transform: translate(16%, 38%);
}

.location_tallinn .full-figure {
  background-color: #afdaf5;
}

/*tallinn-details*/
.tallinn-details {
  margin-bottom: 25px;
}

.tallinn-details .title {
  color: #e98eb3;
}

.tallinn-details .text {
  width: 255px;
}

.tallinn-details__cols {
  position: relative;
  top: -106px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: calc(var(--padding) * -1);
}

.tallinn-details .figure {
  position: relative;
}

.figure_knocker {
  align-self: flex-end;
  bottom: -17px;
  margin-right: 81px;
}

.figure_door {
  align-self: center;
}

.figure_lantern {
  top: -29px;
  align-self: flex-start;
  width: 230px;
  /*margin-left: auto;*/
}

.tallinn-details .figure__caption {
  position: absolute;
}

.figure_door .figure__caption {
  top: 160px;
  left: -125px;
  width: 125px;
}

.figure_lantern .figure__caption {
  top: 93%;
  left: 23%;
  width: 155px;
}

/*town-hall*/
.tallinn-town-hall {
  margin-bottom: 90px;
}

.tallinn-town-hall .full-figure__note {
  /*top: 138px;*/
  top: 27%;
  /*left: var(--offset);*/
  left: 5%;
  width: 185px;
}

.tallinn-town-hall {
  color: white;
}

.tallinn-town-hall .title {
  color: #7e89d9;
}

.tallinn-town-hall .full-figure {
  background-color: #82b0fa;
}

.tallinn-town-hall .full-figure__caption {
  position: absolute;
  top: 10px;
  left: var(--offset);
  width: 200px;
}

.tallinn-town-hall .full-figure__sticker {
  right: 0;
  bottom: 0;
  height: 190px;
  width: 290px;
  background-image: url("../img/stickers/sticker2.png");
  transform: translate(16%, 20%);
}

/*tallinn vana*/
.tallinn-vana {
  margin-bottom: 100px;
}

.tallinn-vana .title {
  color: #825956;
}

.figure_bottle {
  display: flex;
}

.figure_bottle__texts {
  display: flex;
  justify-content: space-between;
  width: 683px;
}

.figure_bottle .text {
  width: 320px;
}

.figure_bottle .figure__img {
  /*margin-left: 28px;*/
  margin-left: auto;
  margin-right: 30px;
  margin-top: -26px;
  height: 370px;
}

.tallinn-vana__cols {
  display: flex;
  align-items: baseline;
  margin-top: -212px;
}

.figure_ice {
  width: 130px;
  /*margin-right: 85px;*/
  margin-right: 13%;
}

.figure_cola {
  width: 135px;
  /*margin-right: 80px;*/
  margin-right: 13%;
}

.tallinn-vana__cols .figure__caption {
  margin-top: 20px;
}

.figure_cola .figure__caption {
  /*margin-left: 22px;*/
  margin-left: 5px;
}

.figure_coffee {
  width: 170px;
}

.figure_coffee .figure__caption {
  margin-left: 15px;
}

/*tallinn kadriorg*/
.tallinn-kadriorg {
  margin-bottom: 130px;
}

.tallinn-kadriorg .title {
  color: #bd6160;
}

.tallinn-kadriorg .full-figure__caption {
  position: absolute;
  top: 10px;
  left: var(--offset);
  width: 200px;
  color: #bd6160;
}

.tallinn-kadriorg .full-figure__sticker {
  left: 0;
  bottom: 0;
  width: 260px;
  height: 262px;
  background-image: url("../img/stickers/sticker3.png");
  transform: translate(-8%, 36%) rotate(-18deg);
}

.tallinn-kadriorg__cols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.tallinn-kadriorg__texts {
  width: 300px;
  margin-top: 22px;
}

.tallinn-kadriorg__texts p:first-of-type {
  margin-bottom: 30px;
}

.figure_flower {
  width: 195px;
  margin-left: calc(var(--padding) * -1);
  margin-right: 50px;
  margin-top: -35px;
}

.figure_flower .figure__caption {
  width: 100px;
  margin-top: -30px;
  margin-left: 50px;
}

.figure_palace {
  width: 359px;
}

/*tallinn viewpoint*/
.tallinn-viewpoint {
  margin-bottom: 90px;
}

.tallinn-viewpoint .title {
  color: #6f87b6;
}

.tallinn-viewpoint .full-figure__sticker {
  right: 0;
  top: 0;
  width: 253px;
  height: 253px;
  padding: 20px;
  background-image: url(../img/stickers/sticker4.png);
  transform: translate(13%, -17%) rotate(13deg);
}

.tallinn-viewpoint .full-figure__note {
  color: white;
}

.full-figure__note_tower {
  /*top: 58px;*/
  top: 10%;
  /*right: 359px;*/
  right: 43%;
  width: 100px;
}

.full-figure__note_sea {
  /*top: 39px;*/
  top: 10%;
  /*left: 104px;*/
  left: 13%;
}

/*location riga*/

.location_riga .location__title {
  text-align: left;
  color: #b74b4b;
}

.location_riga .location__intro {
  margin-bottom: 80px;
}

.location_riga .location__name::before {
  background-image: url("../img/riga/riga_flag.png");
}

.location_riga .location__intro .full-figure {
  margin-top: -130px;
}

.location_riga .location__intro .full-figure__img {
  position: relative;
}

.location_riga .location__intro .full-figure__sticker {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 20%);
  width: 320px;
  height: 231px;
  background-image: url("../img/stickers/sticker5.png");
}

.location_riga .list-figure {
  top: 0;
  right: 0;
  transform: translate(16%, -10%);
}

/*riga jugendstil*/
.riga-jugendstil {
  margin-bottom: 90px;
}

.riga-jugendstil .title,
.riga-jugendstil .link {
  color: #4f70b3;
  border-bottom-color: rgba(79, 112, 179, 0.4);
}

.riga-jugendstil .link:hover {
  color: #b74b4b;
}

.riga-jugendstil .link {
  display: inline-block;
  margin-top: 12px;
}

.riga-jugendstil__cols {
  display: flex;
  /*justify-content: space-between;*/
  align-items: flex-start;
}

.riga-jugendstil .text:first-of-type {
  min-width: 285px;
  width: 35%;
  margin-right: 33px;
}

.riga-jugendstil .text:last-of-type {
  min-width: 295px;
  width: 30%;
  max-width: 325px;
  margin-right: auto;
}

.figure_sphinx {
  margin-top: -95px;
  display: flex;
  align-items: center;
}

.figure_sphinx .figure__caption {
  width: 105px;
  margin-left: 10px;
  margin-top: 27px;
}

/*riga blackheads*/
.riga-blackheads {
  margin-bottom: 237px;
}

.riga-blackheads .title {
  color: #8669d2;
}

.riga-blackheads .full-figure__sticker {
  left: 0;
  bottom: 0;
  width: 235px;
  height: 204px;
  padding: 35px;
  transform: translate(-11%, 58%);
}

.riga-blackheads .full-figure__note {
  color: white;
}

.full-figure__note_rats {
  /*bottom: 263px;*/
  bottom: 47%;
  /*left: 230px;*/
  left: 30%;
  width: 105px;
}

.full-figure__note_nazis {
  /*top: 60px;*/
  top: 16%;
  /*right: 220px;*/
  right: 30%;
  width: 185px;
}

/*latvian food*/
.riga-food {
  margin-bottom: 170px;
}

.riga-food .title {
  color: #883a04;
}

.riga-food__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.riga-food__left {
  min-width: 365px;
  width: 30%;
}

.riga-food .text {
  margin-bottom: 35px;
}

.figure_price {
  display: flex;
  align-items: flex-start;
  margin-left: 25px;
}

.figure_price img {
  width: 182px;
}

.figure_price .figure__caption {
  width: 65px;
  margin-left: -18px;
  margin-top: 3px;
}

.riga-food__right {
  display: flex;
  width: 640px;
  position: relative;
}

.figure_soup {
  position: absolute;
  top: 0;
  left: 0;
}

.figure_peas {
  position: absolute;
  top: -156px;
  right: -52px;
}

/*dwelling*/
.riga-dwelling {
  margin-bottom: 90px;
  position: relative;
}

.riga-dwelling .title {
  position: relative;
  z-index: 1;
  color: #f0ce3c;
}

.riga-dwelling .full-figure {
  margin-top: -100px;
}

.riga-dwelling .full-figure__note {
  width: 85px;
}

.full-figure__note_17 {
  /*top: 120px;*/
  top: 24%;
  /*left: 40px;*/
  left: 11%;
}

.full-figure__note_16 {
  top: -50px;
  /*left: 249px;*/
  left: 32%;
}

.full-figure__note_15 {
  /*top: 120px;*/
  top: 23%;
  /*left: 468px;*/
  left: 55%;
}

.figure_maza {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(26%, 30%);
}

/*riga balsam*/
.riga-balsam {
  margin-bottom: 90px;
}

.riga-balsam .title {
  color: #59377b;
}

.riga-balsam__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.riga-balsam__left {
  width: 139px;
  margin-left: 28px;
  margin-right: 20px;
}

.riga-balsam__center {
  display: flex;
  flex-direction: column;
  min-width: 255px;
  width: 35%;
  min-height: 377px;
  margin-right: 70px;
}

.figure.figure_sprats {
  margin: 0 auto;
}

.riga-balsam .text {
  margin-bottom: auto;
}

.figure_candies .figure__caption {
  min-width: 134px;
  width: 60%;
  margin-top: 25px;
  margin-left: 34px;
}

/*riga old town*/
.riga-old-town {
  margin-bottom: 130px;
}

.riga-old-town .title {
  color: #bd7479;
}

.riga-old-town .full-figure__sticker {
  right: 0;
  top: 0;
  width: 260px;
  height: 262px;
  padding: 45px;
  transform: translate(8%, -26%) rotate(-25deg);
  background-image: url("../img/stickers/sticker3.png");
}

.riga-old-town .full-figure__note {
  color: white;
}

.full-figure__note_kramu {
  /*bottom: 33px;*/
  bottom: 8%;
  /*left: 20px;*/
  left: 2%;
  width: 105px;
}

/*location vilnius*/
.location_vilnius .location__title {
  color: #be3727;
}

.location_vilnius .location__name::before {
  background-image: url("../img/vilnius/vilnius_flag.png");
}

.full-figure__note_zydu {
  /*bottom: 33px;*/
  bottom: 6%;
  /*left: 20px;*/
  left: 2%;
  width: 105px;
  color: white;
}

.location_vilnius .list-figure {
  bottom: 0;
  right: 0;
  transform: translate(15%, 35%);
}

/*vilnius uzupis*/
.vilnius-uzupis {
  position: relative;
  margin-bottom: 90px;
}

.vilnius-uzupis .title {
  position: relative;
  color: #78bdda;
  z-index: 1;
}

.figure_emblem {
  position: absolute;
  left: 6px;
  top: 93px;
  z-index: 1;
}

.figure_angel {
  position: absolute;
  right: calc(var(--padding) * -1);
  top: 15px;
}

.vilnius-uzupis__text {
  position: relative;
  margin: 364px auto 0;
  z-index: 1;
}

.vilnius-uzupis .text {
  margin-left: 353px;
  min-width: 330px;
  width: 35%;
}

/*vilnius bikes*/
.vilnius-bikes {
  margin-bottom: 130px;
}

.vilnius-bikes .title {
  color: #586d7f;
}

.vilnius-bikes .full-figure__sticker {
  right: 0;
  top: 0;
  width: 260px;
  height: 262px;
  padding: 35px;
  transform: translate(8%, -26%) rotate(-25deg);
  background-image: url("../img/stickers/sticker3.png");
}

.full-figure__note_rotuses {
  top: 33px;
  left: 20px;
  width: 120px;
  color: white;
}

/*vilnius pilies*/
.vilnius-pilies {
  margin-bottom: 90px;
}

.vilnius-pilies .title {
  color: #c76c64;
}

.vilnius-pilies__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vilnius-pilies__col {
  display: flex;
  width: 300px;
  flex-direction: column;
  min-height: 557px;
  margin-right: 10px;
}

.vilnius-pilies .text {
  margin-bottom: 35px;
}

.figure_teapot1 {
  margin-top: auto;
  margin-left: 13px;
}

.figure_pilies {
  width: 372px;
}

.figure_teapot2 {
  position: relative;
  top: -43px;
  left: 22px;
  width: 203px;
}

.figure_teapot2 .figure__caption {
  position: relative;
  left: 40px;
  margin-top: 23px;
  width: 150px;
}

/*vilnius church*/
.vilnius-church {
  margin-bottom: 90px;
}

.vilnius-church .title {
  color: #3b5ca5;
}

.vilnius-church .full-figure__caption {
  position: absolute;
  top: 10px;
  left: var(--offset);
  width: 360px;
  color: white;
}

.vilnius-church .full-figure__sticker {
  left: 0;
  bottom: 0;
  height: 190px;
  width: 290px;
  padding: 35px;
  background-image: url(../img/stickers/sticker2.png);
  transform: translate(-13%, 20%);
}

.full-figure__note_church {
  /*top: 80px;*/
  top: 17%;
  /*right: 55px;*/
  right: 10%;
  width: 90px;
}

/*vilnius balloon*/
.vilnius-balloon {
  position: relative;
  margin-bottom: 130px;
}

.vilnius-balloon .title {
  color: #485c90;
}

.full-figure__note_ballonya {
  /*top: 33px;*/
  top: 6%;
  /*left: 20px;*/
  left: 3%;
  min-width: 200px;
  width: 23%;
  color: white;
}

.full-figure__note_flight-price {
  /*top: 46px;*/
  top: 10%;
  /*left: 452px;*/
  left: 51%;
  width: 70px;
  color: white;
}

.figure_balloon {
  position: absolute;
  right: -20px;
  top: 54px;
  transform: translateY(-40px);
}

.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes baloon {
  0% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

@keyframes baloon {
  0% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

.baloon {
  -webkit-animation-name: baloon;
  animation-name: baloon;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  visibility: visible !important;
}

.booking__title {
  /*text-align: center;*/
  margin-top: 30px;
  text-align: left;
  font-family: Bureausans, Arial, sans-serif;
  font-weight: bold;
  font-size: 42px;
}

.footer {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}

.footer__text {
  font-family: Bureausans, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-right: 35px;
  max-width: 260px;
  line-height: 24px;
}

.footer__text a {
  color: inherit;
  transition: 300ms ease-out;
  text-decoration: none;
}

.footer__text img {
  display: inline;
}

.footer__text a:hover {
  color: #b74b4b;
  transition: 0ms;
}

.footer__link {
  box-shadow: inset 0 -0.05em #ffffff, inset 0 -0.1em rgba(0, 0, 0, 0.4);
}

.footer__link:hover {
  box-shadow: inset 0 -0.05em #ffffff, inset 0 -0.1em rgba(183, 75, 75, 0.4);
}

.footer__img-link {
  position: relative;
  width: 24px;
  display: inline-block;
}

.footer__img-link:nth-child(2) {
  margin-left: 1px;
  margin-right: 1px;
}

.footer__img {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  transition: 300ms ease-out;
  background-size: cover;
}

.footer__img--facebook {
  background-image: url(../img/facebook_footer.png);
}

.footer__img--facebook:hover {
  background-image: url(../img/facebook_hover.png);
  transition: 0ms;
}

.footer__img--insta {
  background-image: url(../img/inst.png);
}

.footer__img--insta:hover {
  background-image: url(../img/inst_hover.png);
  transition: 0ms;
}

.footer__img-link:hover img {
  opacity: 0;
}

/*
 *
 page Vilnius
 *
*/

/*remains*/
.tallinn-remains {
  margin-bottom: 90px;
}

.tallinn-remains .full-figure__note {
  top: 28%;
  right: 25%;
  width: 105px;
  color: #000000;
}

.tallinn-remains {
  color: white;
}

.tallinn-remains .title {
  color: #5f75aa;
}

.tallinn-remains .full-figure {
  background-color: #82b0fa;
}

.tallinn-remains .full-figure__caption {
  position: absolute;
  top: 2%;
  left: var(--offset);
  min-width: 370px;
  width: 33%;
  color: #5f75aa;
}

.tallinn-remains .full-figure__sticker {
  right: 1%;
  bottom: 0;
  width: 320px;
  height: 231px;
  background-image: url(../img/stickers/sticker5.png);
  transform: translate(16%, 20%);
  padding: 30px;
}

@media (max-width: 1023px) {
  .tallinn-remains .full-figure__sticker {
    transform: translate(7%, 20%);
  }
}

/*Intro second*/
.intro--second .full-figure__note_intro {
  right: auto;
  top: 55%;
  left: 35%;
}

@media (max-width: 1023px) {
  .intro--second .full-figure__note_intro {
    top: 57%;
    left: 35%;
  }
}

.intro--second .intro__title {
  max-width: 550px;
  /*max-width: 665px;*/
}

/*tallinn kemeri*/
.tallinn-kemeri {
  margin-bottom: 90px;
}

.tallinn-kemeri .title {
  color: #55622a;
}

.tallinn-kemeri .full-figure__sticker {
  right: 0;
  top: 0;
  /*width: 260px;*/
  width: 220px;
  /*height: 262px;*/
  height: 222px;
  padding: 45px;
  background-image: url(../img/stickers/sticker3.png);
  /*transform: translate(24%, -30%) rotate(-22deg);*/
  transform: translate(10%, -30%) rotate(-22deg);
  background-size: cover;
}

@media (max-width: 1023px) {
  .tallinn-kemeri .full-figure__sticker {
    top: auto;
    bottom: -100px;
    right: 5px;
    transform: translate(0%, -30%) rotate(-22deg);
  }
}

.tallinn-kemeri .full-figure__note {
  color: white;
}

.tallinn-kemeri .full-figure__note_bogs {
  top: 6%;
  right: 22%;
  width: 90px;
}

@media (max-width: 1023px) {
  .tallinn-kemeri .full-figure__note_bogs {
    top: 5%;
    right: 20%;
  }
}

.tallinn-kemeri .full-figure__note_length {
  top: 4%;
  left: 30%;
  width: 100px;
}

@media (max-width: 1023px) {
  .tallinn-kemeri .full-figure__note_length {
    top: 3%;
    left: 28%;
  }
}

/*cape kolka*/
.tallinn-cape {
  margin-bottom: 90px;
}

.tallinn-cape {
  color: white;
}

.tallinn-cape .title {
  color: #617b9c;
}

.tallinn-cape .full-figure {
  background-color: #82b0fa;
}

.tallinn-cape .full-figure__caption {
  position: absolute;
  top: 2%;
  left: var(--offset);
  min-width: 370px;
  width: 33%;
  color: #617b9c;
}

.tallinn-cape .full-figure__sticker {
  background-image: url(../img/stickers/sticker1.png);
  left: 0;
  bottom: 0;
  width: 235px;
  height: 204px;
  padding: 40px;
  transform: translate(-18%, 33%);
}

.tallinn-cape .figure_bird {
  position: absolute;
  top: 0;
  left: auto;
  right: 10%;
  width: calc(554px / 2);
  height: calc(234px / 2);
  transform: translate(0, -50%);
}

/*horses*/
.tallinn-horses {
  margin-bottom: 90px;
}

.tallinn-horses .full-figure__note {
  top: 17%;
  left: 4%;
  width: 105px;
  color: #000000;
}

.tallinn-horses {
  color: white;
}

.tallinn-horses .title {
  color: #7f9843;
}

.tallinn-horses .full-figure {
  background-color: #82b0fa;
}

.tallinn-horses .full-figure__caption {
  position: absolute;
  top: 2%;
  left: var(--offset);
  min-width: 370px;
  width: 33%;
  color: #5f75aa;
}

.tallinn-horses .full-figure__sticker {
  right: 2%;
  bottom: 0;
  height: 203px;
  width: 310px;
  background-image: url(../img/stickers/sticker2.png);
  transform: translate(20%, 35%);
  background-size: cover;
}

@media (max-width: 1023px) {
  .tallinn-horses .full-figure__sticker {
    transform: translate(10%, 35%);
  }
}

/*klaipeda*/
.tallinn-klaipeda {
  margin-bottom: 90px;
}

.tallinn-klaipeda .full-figure__note {
  top: 18%;
  right: 35%;
  width: 80px;
  color: #b50013;
}

.tallinn-klaipeda {
  color: white;
}

.tallinn-klaipeda .title {
  color: #b50013;
}

.tallinn-klaipeda .full-figure {
  background-color: #82b0fa;
}

.tallinn-klaipeda .full-figure__caption {
  position: absolute;
  top: 2%;
  left: var(--offset);
  min-width: 370px;
  width: 33%;
  color: #b50013;
}

/*PAGE NAV*/
.page-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 35px;
}

.page-nav a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 16px;
  font-family: Bureausans, Arial, sans-serif;
  color: #4f70b3;
}

.page-nav a.active:first-child {
  color: #b77461;
}

.page-nav a.active:last-child {
  color: #89afc7;
}

/*vilnius-kemeri*/
.vilnius-kemeri__cols {
  display: flex;
  /*justify-content: space-between;*/
}

.vilnius-kemeri__col {
  width: 26%;
  min-width: 280px;
}

.vilnius-kemeri .figure_bird {
  width: 65%;
  position: relative;
  top: -55px;
}

.vilnius-kemeri .figure_bird img {
  width: calc(871px / 2);
  height: calc(517px / 2);
}

.vilnius-kemeri .figure__caption {
  position: absolute;
  right: 17%;
  bottom: 20%;
  width: 160px;
}

/*vilnius ventspils*/
.vilnius-ventspils {
  margin-bottom: 40px;
}

.vilnius-ventspils .title {
  color: #a0288b;
}

.vilnius-ventspils__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.vilnius-ventspils__col {
  display: flex;
  min-width: 355px;
  width: 40%;
  flex-direction: column;
  min-height: 500px;
  margin-right: 10px;
}

.vilnius-ventspils .text {
  margin-bottom: 35px;
}

.figure_fem-cow {
  margin-top: auto;
  margin-left: calc(var(--padding) * -1);
}

.figure_fem-cow .figure__caption {
  position: absolute;
  left: 25%;
  bottom: 10%;
  width: 100px;
}

.figure_fem-cow img {
  width: calc(585px / 2);
  height: calc(799px / 2);
}

.figure_ventspils {
  width: 372px;
}

.figure_pomengrate-cow {
  position: relative;
  top: -50px;
  width: calc(910px / 2);
}

.figure_pomengrate-cow .figure__caption {
  position: absolute;
  width: 110px;
  left: 25%;
  bottom: 10%;
}

.vilnius-ventspils .full-figure__sticker {
  left: 30%;
  top: 30%;
  width: 253px;
  height: 253px;
  padding: 30px;
  background-image: url(../img/stickers/sticker4.png);
  transform: translate(0%, 0%) rotate(17deg);
}

/*seaside*/
.tallinn-seaside {
  margin-bottom: 90px;
}

.tallinn-seaside .full-figure__note {
  top: 58%;
  right: 6%;
  width: 80px;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .tallinn-seaside .full-figure__note {
    top: 51%;
  }
}

.tallinn-seaside {
  color: white;
}

.tallinn-seaside .title {
  color: #9389ab;
}

.tallinn-seaside .full-figure {
  background-color: #82b0fa;
}

.tallinn-seaside .full-figure__caption {
  position: absolute;
  top: 2%;
  left: var(--offset);
  min-width: 320px;
  width: 33%;
  color: #ffffff;
}

.tallinn-seaside .full-figure__sticker {
  right: 2%;
  bottom: 0;
  height: 190px;
  width: 290px;
  background-image: url("../img/stickers/sticker2.png");
  transform: translate(16%, 35%);
}

@media (max-width: 1023px) {
  .tallinn-seaside .full-figure__sticker {
    transform: translate(14%, 35%);
  }
}

/*tallinn kuldiga*/
.tallinn-kuldiga {
  margin-bottom: 90px;
}

.tallinn-kuldiga .title {
  color: #de8304;
}

.tallinn-kuldiga .full-figure__sticker {
  left: 0;
  bottom: 0;
  width: 260px;
  height: 262px;
  padding: 45px;
  background-image: url(../img/stickers/sticker3.png);
  transform: translate(-24%, 30%) rotate(15deg);
}

@media (max-width: 1023px) {
  .tallinn-kuldiga .full-figure__sticker {
    transform: translate(-10%, 30%) rotate(15deg);
  }
}

.tallinn-kuldiga .full-figure__note {
  top: 45%;
  left: 22%;
  width: 90px;
  color: #000000;
}

@media (max-width: 1023px) {
  .tallinn-kuldiga .full-figure__note {
    left: 21%;
  }
}

/*tallinn kaunas*/
.tallinn-kaunas {
  margin-bottom: 90px;
}

.tallinn-kaunas .title {
  color: #dd8f88;
}

.tallinn-kaunas .full-figure__sticker {
  left: 0;
  bottom: 0;
  width: 260px;
  height: 262px;
  padding: 45px;
  background-image: url(../img/stickers/sticker3.png);
  transform: translate(-24%, 30%) rotate(-7deg);
}

@media (max-width: 1023px) {
  .tallinn-kaunas .full-figure__sticker {
    transform: translate(-10%, 30%) rotate(-7deg);
  }
}

/*trakai*/
.tallinn-trakai {
  margin-bottom: 90px;
}

.tallinn-trakai .full-figure__note {
  top: 8%;
  right: 20%;
  width: 80px;
  color: #ffffff;
}

.tallinn-trakai {
  color: white;
}

.tallinn-trakai .title {
  color: #2d9ed4;
}

.tallinn-trakai .full-figure {
  background-color: #82b0fa;
}

.tallinn-trakai .full-figure__caption {
  position: absolute;
  top: 2%;
  left: var(--offset);
  min-width: 320px;
  width: 33%;
  color: #2d9ed4;
}


/*kuldiga-town*/
.kuldiga-town {
  margin-bottom: 120px;
  margin-top: 120px;
}

.kuldiga-town__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.kuldiga-town__left {
  min-width: 350px;
  width: 30%;
}

.kuldiga-town .text {
  margin-bottom: 35px;
}

.kuldiga-town .figure_price {
  display: flex;
  align-items: flex-start;
  margin-left: 0;
}

.figure_price img {
  width: 182px;
}

.kuldiga-town .figure_price .figure__caption {
  width: 65px;
  margin-left: 0;
  margin-top: 30%;
}

.kuldiga-town__right {
  display: flex;
  width: 640px;
  position: relative;
}

.figure_cake {
  position: absolute;
  top: -30px;
  left: 0;
  width: calc(732px / 2);
  height: calc(487px / 2);
  z-index: 2;
}

.figure_milk {
  position: absolute;
  top: 100px;
  width: calc(640px / 2);
  height: calc(576px / 2);
  right: calc(var(--padding) * -1 / 2);
  z-index: 1;
}

/*horses-white*/
.horses-white {
  margin-bottom: 100px;
  margin-top: 100px;
}

.horses-white__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.horses-white__left {
  min-width: 350px;
  width: 30%;
}

.horses-white .text {
  margin-bottom: 35px;
}

.horses-white .figure_price {
  display: flex;
  align-items: flex-start;
  margin-left: 0;
}

.figure_price img {
  width: 182px;
}

.horses-white .figure_price .figure__caption {
  width: 66px;
  margin-left: -20px;
  margin-top: 40%;
}

.horses-white__right {
  display: flex;
  width: 640px;
  position: relative;
}

.figure_bird {
  position: absolute;
  top: -20px;
  left: 10%;
  width: calc(144px);
  height: calc(341px);
  z-index: 2;
}

.horses-white .figure_bird .figure__caption {
  position: absolute;
  top: 60%;
  left: -60%;
  width: 100px;
}

.figure_cow {
  position: absolute;
  top: 0;
  width: calc(271px);
  height: calc(401px);
  right: 0;
  z-index: 1;
}

.horses-white .figure_cow .figure__caption {
  position: absolute;
  top: 90%;
  left: -30%;
  width: 105px;
}

/*klaipeda-white*/
.klaipeda-white {
  margin-bottom: 100px;
  margin-top: 100px;
}

.klaipeda-white__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.klaipeda-white__left {
  min-width: 265px;
  width: 30%;
}

.klaipeda-white .text {
  margin-bottom: 70px;
}

.klaipeda-white .figure_mouse {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

.klaipeda-white .figure_mouse img {
  width: calc(208px / 2);
}

.klaipeda-white .figure_mouse .figure__caption {
  width: 90px;
  margin-left: 15px;
  margin-top: 20%;
}

.klaipeda-white__right {
  display: flex;
  width: 640px;
  position: relative;
}

.figure_dragon {
  position: absolute;
  top: -50px;
  left: 5%;
  width: calc(1050px / 2);
  height: calc(600px / 2);
  z-index: 2;
}

.klaipeda-white .figure_dragon .figure__caption {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 100px;
}

.figure_sign {
  position: absolute;
  top: 0;
  width: calc(271px);
  height: calc(401px);
  right: 0;
  z-index: 2;
}

.figure_sign img {
  position: absolute;
  bottom: 0;
}

/*kaunas-white*/
.kaunas-white {
  margin-bottom: 100px;
  margin-top: 100px;
  position: relative;
  min-height: calc((1006px / 2) - 100px);
}

.kaunas-white__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.kaunas-white__left {
  min-width: 295px;
  width: 30%;
}

.kaunas-white .text {
  margin-bottom: 70px;
}

.kaunas-white .full-figure__sticker {
  left: 0;
  bottom: 0;
  height: 190px;
  width: 290px;
  background-image: url("../img/stickers/sticker2.png");
  transform: translate(0%, 5%);
}

.kaunas-white__right {
  display: flex;
  width: 640px;
  position: relative;
}

.figure_church {
  position: absolute;
  top: -50px;
  left: 5%;
  width: calc(830px / 2);
  height: calc(1006px / 2);
  z-index: 2;
  margin-left: 7%;
}

.kaunas-white .figure_church .figure__caption {
  position: absolute;
  top: 30%;
  right: -30%;
  width: 100px;
}


/*intro effect*/
.intro {
  padding-top: 0;
}

.intro .full-figure {
  width: 100vw;
  min-width: 1000px;
  /*max-width: 2000px;*/
}

@media (max-width: 1023px) {
  .intro .full-figure {
    width: 100%;
    min-width: auto;
  }
}

.intro .full-figure__img {
  width: 100%;
  height: 100%;
}

.intro .full-figure__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*Intro link*/
.full-figure__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  font-family: Bureausans, Arial, sans-serif;
  transition: 300ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-weight: bold;
  width: calc(64px / 2);
}